<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Animações - PowerPoint</title>

    <link rel="stylesheet" href="/LMS-Projeto/components/paginaApresentaSlide/paginaApresentaSlide.css" />
    <link rel="stylesheet" href="/LMS-Projeto/css/header.css">
    <link rel="stylesheet" href="/LMS-Projeto/css/media.css">
    <link rel="shortcut icon" type="imagex/png" href="/LMS-Projeto/img/powerPointLogo.png">
    <script src="../navbar.js" defer></script>
  </head>
  <body>

    <!-- Colocar o navbar -->
    <header>
      <h1 id="Office">Office Academy</h1>
      <nav class="header-navbar">
        <button id="btn-mobile">
          <span id="hamb"></span>
        </button>
        <ul class="navbar-menu">
          <li><a href="/index.html#section-introduction">Início</a></li>
          <li><a href="/index.html#atalhos">Atalhos</a></li>
          <li><a href="/index.html#pages">Páginas</a></li>
          <li><a href="">Normas ABNT</a></li>
        </ul>
      </nav>
    </header>



    <section class="landing-page">
      <article class="landing-page-wrapper">
        <article class="text">
          <h1>Página Transições</h1>
          <p>
            Certamente, aqui estão os cinco itens mais importantes da aba "Transições" no Microsoft PowerPoint, que são usados para controlar como os slides da sua apresentação se movem de um para outro:

          </p>
        </article>
        <article class="image">
          <img src="/LMS-Projeto/components/paginaTransicoes/arquivoTransicoes.png" style="object-fit: cover;" class="landing-page-image" alt="imagem ilustrativa" />
        </article>
      </article>
    </section>
    <section class="ferramentas-paginaInserir">
      <h1>Ferramentas</h1>
      <p>
        <strong>Efeito de Transição:</strong> EEscolher um efeito de transição determina como o slide atual se transforma no próximo slide durante a apresentação. Opções comuns incluem dissolução, deslizamento, ampliação e muitos outros efeitos visuais.
      </p>
      <p>
        <strong>Duração:</strong> Define a velocidade com que a transição ocorre, especificando o tempo em segundos que a transição levará para ser concluída.
      </p>
      <p>
        <strong>Som de Transição:</strong> Você pode adicionar um som que será reproduzido durante a transição de slides. Isso pode adicionar um elemento auditivo à sua apresentação.
      </p>
      <p>
        <strong>Iniciar Após:</strong> Permite definir quando a transição deve começar. Você pode escolher que a transição seja acionada manualmente pelo apresentador ou automaticamente após um determinado período de tempo.
      </p>
      <p>
        <strong>Aplicar a Todos os Slides:</strong> Essa opção permite aplicar a mesma transição a todos os slides da apresentação de forma consistente, economizando tempo e mantendo uma aparência uniforme.
      </p>
  
    
    </section>
  </body>
</html>
